<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
        
<beans>
	<!-- 
	<bean class="Calculator" id="calclass" init-method="executeFirst" destroy-method="executeBeforeDestroy">
		<property name="num1" value="10"> </property>
		<property name="num2" value="20"> </property>
	</bean> -->
	
	<!-- The below is the auto wiring as we kept calculator as "id" here unlike above.-->
	
	<bean class="Calculator" id="calculator" init-method="executeFirst" destroy-method="executeBeforeDestroy">
		<property name="num1" value="10"> </property>
		<property name="num2" value="20"> </property>
	</bean>
	
	<!-- injecting values using constructor -->
	<bean class="Calculator" id="calclass1" init-method="executeFirst" destroy-method="executeBeforeDestroy" scope="prototype">
		<constructor-arg type="int" value="20" index="1"> </constructor-arg>
		<constructor-arg type="int" value="25" index="0"> </constructor-arg>
	</bean>

	<bean class="Person" name="p" init-method="executeFirst" destroy-method="executeBeforeDestroy" autowire="byName">
		<property name="pid" value="100"> </property>
		<property name="pName" value="Prathyusha Veturi"> </property>
		<property name="paid" value="true"> </property>
		<property name="salary" value="500"> </property>
		<property name="age" value="30"> </property>
		<!-- When we use autowiring, we need not use the below statement.-->
		<!--  <property name="calculator" ref="calclass"> </property> -->
	</bean> 
	
	<!-- Auto wiring byType -->
	<!-- <bean class="Employee" name="employee" init-method="executeFirst" destroy-method="executeBeforeDestroy" autowire="byType">
		<property name="pid" value="100"> </property>
		<property name="pName" value="Prathyusha Veturi"> </property>
		<property name="paid" value="true"> </property>
		<property name="salary" value="500"> </property>
		<property name="age" value="30"> </property>
	</bean> -->
	
	<bean class="Question" id="question">
		<property name="id" value="11"> </property>
		<property name="name" value="What is Java?"> </property>
		<property name="answers">
			<list>
				<value>Java is an Island.</value>
				<value>Java is a Coffee.</value>
				<value>Java is a programming language.</value>
				<value>All of the above.</value>
			</list>
		</property>
		
		<property name="answers1">
			<set>
				<value>Java is an Island.</value>
				<value>Java is a Coffee.</value>
				<value>Java is a programming language.</value>
				<value>All of the above.</value>
			</set>
		</property>
		
		<property name="answers2">
			<map>
				<entry key="ans1" value="Java is an Island."> </entry>
				<entry key="ans2" value="Java is a Coffee."> </entry>
				<entry key="ans3" value="Java is a programming language."> </entry>
				<entry key="ans4" value="All of the above."> </entry>
			</map>
		</property>
	</bean>
	
</beans>