<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DemoApp</display-name>
  
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.addition.MyServlet</servlet-class>
  	
  	<init-parram>
  		<param-name> name </param-name>
  		<param-value> Lakshmi </param-value>
  	</init-parram>
  	 		
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name> name </param-name>
  	<param-value> Prathyusha </param-value>
  </context-param>
  
  <context-param>
  	<param-name> Phone </param-name>
  	<param-value> Poco M2 Pro </param-value>
  </context-param>
  
</web-app>